@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Arima+Madurai:300");
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  font-family: 'Arima Madurai', cursive;
  color: black;
  font-size: 4rem;
  letter-spacing: -3px;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
  position: relative;
  z-index: 3;
}

.container {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: '35rem';
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 168, 76, 0.6) 0%, rgba(255, 123, 13, 0.6) 100%), url(../../assets/images/welcome.jpeg);
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center center;
  padding: 2rem;
}

@keyframes typed {
  /* string 1, char 1 */
  0%, 0.88083% {
    content: "欲";
  }
  /* string 1, char 2 */
  0.88183%, 1.76267% {
    content: "欲买";
  }
  /* string 1, char 3 */
  1.76367%, 2.6445% {
    content: "欲买桂";
  }
  /* string 1, char 4 */
  2.6455%, 3.52634% {
    content: "欲买桂花";
  }
  /* string 1, char 5 */
  3.52734%, 4.40817% {
    content: "欲买桂花同";
  }
  /* string 1, char 6 */
  4.40917%, 5.29001% {
    content: "欲买桂花同载";
  }
  /* string 1, char 7 */
  5.29101%, 24.51399% {
    content: "欲买桂花同载酒";
  }
  /* string 1, char 8 */
  24.51499%, 25.21946% {
    content: "欲买桂花同载";
  }
  /* string 1, char 9 */
  25.22046%, 25.92493% {
    content: "欲买桂花同";
  }
  /* string 1, char 10 */
  25.92593%, 26.63039% {
    content: "欲买桂花";
  }
  /* string 1, char 11 */
  26.63139%, 27.33586% {
    content: "欲买桂";
  }
  /* string 1, char 12 */
  27.33686%, 28.04133% {
    content: "欲买";
  }
  /* string 1, char 13 */
  28.04233%, 28.7468% {
    content: "欲";
  }
  /* string 1, char 14 */
  28.7478%, 37.56514% {
    content: "​";
  }
  /* string 2, char 1 */
  37.56614%, 38.44697% {
    content: "终";
  }
  /* string 2, char 2 */
  38.44797%, 39.32881% {
    content: "终不";
  }
  /* string 2, char 3 */
  39.32981%, 58.55279% {
    content: "终不似";
  }
  /* string 2, char 4 */
  58.55379%, 59.25826% {
    content: "终不";
  }
  /* string 2, char 5 */
  59.25926%, 59.96373% {
    content: "终";
  }
  /* string 2, char 6 */
  59.96473%, 68.78207% {
    content: "​";
  }
  /* string 3, char 1 */
  68.78307%, 69.6639% {
    content: "少";
  }
  /* string 3, char 2 */
  69.6649%, 70.54574% {
    content: "少年";
  }
  /* string 3, char 3 */
  70.54674%, 89.76972% {
    content: "少年游";
  }
  /* string 3, char 4 */
  89.77072%, 90.47519% {
    content: "少年";
  }
  /* string 3, char 5 */
  90.47619%, 91.18066% {
    content: "少";
  }
  /* string 3, char 6 */
  91.18166%, 100% {
    content: "​";
  }
}

@keyframes beam-blink {
  75% {
    border-color: transparent;
  }
}

.text-container * {
  backface-visibility: hidden;
}

.text-container div {
  height: 100%;
}

.text-container div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover, 100% 3px;
  font-size: calc(10px + 2vw);
  font-family: 'VT323', monospace, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-container div::after {
  content: "​";
  position: relative;
  top: -13px;
  display: inline-block;
  padding-right: 3px;
  padding-right: calc(3px + 0.1vw);
  border-right: 10px solid rgba(51, 255, 51, 0.75);
  border-right: calc(1.1vw + 4px) solid rgba(51, 255, 51, 0.75);
  text-shadow: 0 0 5px rgba(51, 255, 51, 0.75);
  white-space: nowrap;
  animation: typed 11.34s linear 1s infinite, beam-blink 1s infinite;
}

@media (max-width: 575px) {
  .text-container div::after {
    top: -33px;
  }
}

.text-container div::before {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 3px 0;
  background: #00f;
  color: #fff;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.7px;
  white-space: pre-wrap;
}

@media (max-width: 575px) {
  .text-container div::before {
    content: "3 strings \a 13 chars \a 11.34s duration";
  }
}

.bird {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
  background-size: auto 100%;
  width: 88px;
  height: 125px;
  will-change: background-position;
  animation-name: fly-cycle;
  animation-timing-function: steps(10);
  animation-iteration-count: infinite;
}

.bird--one {
  animation-duration: 1s;
  animation-delay: -0.5s;
}

.bird--two {
  animation-duration: 0.9s;
  animation-delay: -0.75s;
}

.bird--three {
  animation-duration: 1.25s;
  animation-delay: -0.25s;
}

.bird--four {
  animation-duration: 1.1s;
  animation-delay: -0.5s;
}

.bird-container {
  position: absolute;
  top: 20%;
  left: -10%;
  transform: scale(0) translateX(-10vw);
  will-change: transform;
  animation-name: fly-right-one;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.bird-container--one {
  animation-duration: 15s;
  animation-delay: 0;
}

.bird-container--two {
  animation-duration: 16s;
  animation-delay: 1s;
}

.bird-container--three {
  animation-duration: 14.6s;
  animation-delay: 9.5s;
}

.bird-container--four {
  animation-duration: 16s;
  animation-delay: 10.25s;
}

@keyframes fly-cycle {
  100% {
    background-position: -900px 0;
  }
}

@keyframes fly-right-one {
  0% {
    transform: scale(0.3) translateX(-10vw);
  }
  10% {
    transform: translateY(2vh) translateX(10vw) scale(0.4);
  }
  20% {
    transform: translateY(0vh) translateX(30vw) scale(0.5);
  }
  30% {
    transform: translateY(4vh) translateX(50vw) scale(0.6);
  }
  40% {
    transform: translateY(2vh) translateX(70vw) scale(0.6);
  }
  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.6);
  }
  60% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
}

@keyframes fly-right-two {
  0% {
    transform: translateY(-2vh) translateX(-10vw) scale(0.5);
  }
  10% {
    transform: translateY(0vh) translateX(10vw) scale(0.4);
  }
  20% {
    transform: translateY(-4vh) translateX(30vw) scale(0.6);
  }
  30% {
    transform: translateY(1vh) translateX(50vw) scale(0.45);
  }
  40% {
    transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
  }
  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.45);
  }
  51% {
    transform: translateY(0vh) translateX(110vw) scale(0.45);
  }
  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.45);
  }
}

.typer a {
  color: inherit;
}

.typer a:hover {
  background-color: #22BAD9;
  color: white;
  text-decoration: none;
}

.typer-header {
  margin-top: 5%;
  margin-bottom: 15%;
  text-align: center;
  font-size: 3em;
  cursor: url(https://cdn.jsdelivr.net/gh/bayunche/react-blog@release-v0.0.2/Resources/pointer.cur), auto;
  color: #22BAD9;
}

.typer-message {
  color: #beff69;
  width: 500px;
  font-size: 2em;
  margin: auto;
}

.typer-message .flash {
  color: #22BAD9;
  font-weight: bold;
  text-decoration: underline;
  animation-name: blinker;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
